<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <img src="/static/img/logo.png" alt="Logo" class="responsive-logo">
        <div class="button-container">
            {% if current_user %}
                <div class="user-info-box">
                    <p>You are logged in as: <strong>{{ current_user.email }}</strong></p>
                    <p>Your current token balance: <strong>{{ tokens_remaining }}</strong></p>
                </div>
                <div class="button-group">
                    <a href="/chat" class="chat-btn web-chat-btn">Start web chat</a>
                    <a href="{{ telegram_bot_url }}?start={{ bot_token }}" class="chat-btn telegram-chat-btn">Start chat in Telegram</a>
                </div>
                <form action="/logout" method="post" class="logout-container">
                    <button type="submit" class="logout-btn">Log Out</button>
                </form>
            {% else %}
                <div class="button-group">
                    <a href="/register" class="register-btn">Register</a>
                    <a href="/login" class="login-btn">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
